<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->

<div class="container text-right mt-5">
    <button class="btn btn-outline-light" routerLink="/login" >Login admin</button>
</div>

<section id="wrapper" class="login-register">
    
    <div class="login-box card">
        <div class="card-body">


            <form #f="ngForm" (ngSubmit)="onSubmit( f )" class="form-horizontal form-material" >
                
                <div class="container text-center">
                    <img src="assets/images/calendar.png" height="50%" width="50%" alt="Home" /><br/>
                </div>
                <h2 class="text-center">Mi Reserva</h2>
                
                <div class="form-group m-t-40 mt-3">
                    <div class="col-xs-12">
                        <input class="form-control" ngModel name="email" [(ngModel)]="user.email" type="email" required placeholder="Email Address">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" name="password" minlength="8" [(ngModel)]="user.password" type="password" required placeholder="Password">
                    </div>
                </div>
                
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="login btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Ingresar</button>
                    </div>
                </div>
                
            </form>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="text-left">
                            <a routerLink="/login/owners" >Eres comerciante?</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <a href="">Contactanos</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->